<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
  	</include>
	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-model dm3 -file $(find dm3)/urdf/dm3.urdf -z .1 -urdf"/>
</launch>	
